html,
body {
  background-color: #bce1ff;
  user-select: none;
}

.msg {
  background: rgba(0, 0, 0, 0.801);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  color: #ffd700;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease;
}

.close {
  position: absolute;
  top: 50px;
  right: 100px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  color: red;
  background-color: white;
  width: 35px;
  text-align: center;
  border-radius: 100%;
}

.close:hover {
  color: white;
  background-color: red;
}

.feedback {
  max-width: 60%;
  max-height: 60%;
  width: auto;
  height: auto;
  display: none;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto 10%;
  width: 50%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 10vw;
  height: 10vw;
  border: 1px solid white;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.hideCard,
.showCard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: #ff90bc;
  align-items: center;
  display: flex;
  justify-content: center;
}

.showCard {
  transform: rotateY(180deg);
}

img {
  width: 10vw;
  height: 10vw;
  background-size: cover;
}

button {
  border: 1px solid white;
  color: white;
  border-radius: 50px;
  font-weight: 700;
  font-size: medium;
  margin: 3vh auto;
}

button:disabled {
  background-color: #cccccc;
}

.buttons {
  display: flex;
  gap: 5px;
}

.startBtn {
  background-color: rgb(50, 215, 50);
  padding: 15px 25px;
}

.rstBtn {
  background-color: rgb(208, 0, 0);
  padding: 15px 15px;
}

.textContainer {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.textContainer h1{
  color: #117411;
  text-shadow: #bce1ff;
  font-size: 30px;
}

.counter {
  line-height: 0;
  width: 100%;
  float: left;
  color: red;
  font-size: 11px;
  font-family: system-ui;
  border-bottom: ;
}
